/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@500;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
/* ========= FONT FAMILIES =========  */
/* font-family: "Bebas Neue", cursive; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
/* font-family: "Playfair Display", serif; 
    font-family: "Poppins", sans-serif;*/

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== FONTFAMILES ==========*/
  --main-haeding-font-family: "Playfair Display", serif;
  --second-font-family: "Poppins", sans-serif;

  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 395; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --full-dark-color: hsl(var(--hue-color), 100%, 0%);
  --full-bright-color: hsl(var(--hue-color), 100%, 100%);
  --light-dark-color: gray;
  --faded-bg-color: rgb(40, 39, 39);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --extra-smaller-font-size: 0.713rem;
  --extra-extra-smaller-font-size: 0.613rem;

  /*========== Font weight ==========*/
  --font-small: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-extra-bold: 700;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-20: 0.2rem;
  --mb-0-25: 0.25rem;
  --mb-0-75: 0.75rem;
  --mb-0-5: 0.5rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
  --mb-4-5: 4.5rem;
  --mb-5: 5rem;

  /*========== z index ==========*/
  --z-hidden: -1;
  --z-smallest: 1;
  --z-small: 2;
  --z-medium: 3;
  --z-large: 4;
  --z-largest: 5;
}
/* Font size for large devices */
@media screen and (min-width: 568px) {
  :root {
    --big-font-size: 3.2rem;
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.7rem;
    --h3-font-size: 1.45rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.913rem;
    --extra-smaller-font-size: 0.813rem;
  }
}
/* @media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --extra-smaller-font-size: 0.713rem;
  }
} */

/*========== Variables Dark theme ==========*/
/* body.dark-theme{ */
/* HSL color mode */
/* --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
} */

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #141414;
  color: var(--full-bright-color);
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ======= CUSTOM CURSOR ======= */
.cursor {
  display: none;
  width: 3.75rem;
  height: 3.75rem;
  border: 0.1px solid gray;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}
@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* ======= CURSOR ONCLICK EXPAND EFFECT ======= */
.expand {
  animation: cursorAnim2 0.5s forwards;
  border: 1px solid gray;
}

/* ======= CURSOR HOVER EFFECT ON LINK ======= */
.hover {
  width: 6.875rem;
  height: 6.875rem;
  background: var(--full-bright-color);
}

.cursor-hover-link:hover {
  color: var(--full-dark-color);
  font-weight: bolder;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .cursor {
    display: block;
  }
}
/* ======== NAVIGATION ======== */
.logo_copyright {
  z-index: var(--z-large);
  position: fixed;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.navigation {
  z-index: var(--z-large);
  height: 100%;
  position: fixed;
  right: 0;
  font-family: "Dosis", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.nav_links link {
  cursor: pointer;
}
/* ======== LOGO======== */
.nav_logo {
  margin: 2rem 0 0 1.5rem;
  opacity: 0;
  transform: translateX(-150px);
  animation: slide-in 1s forwards;
}
.nav_logo img {
  width: 2.5rem;
}

/* ======== COPY RIGHT ======== */
.home_copyright {
  margin: 0 0 2rem 1.5rem;
  font-size: 0.8em;
  color: var(--full-bright-color);
  opacity: 0;
  transform: translateX(-150px);
  animation: slide-in 1s forwards;
  font-family: var(--main-haeding-font-family);
}

@keyframes slide-in {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes shine {
  from {
    mask-position: 150%;
  }

  to {
    mask-position: -50%;
  }
}

/* === OTHER NAV LINKS === */
.nav_links {
  opacity: 0;
  transform: translateX(150px);
  margin-right: 1.5rem;
}
.link_profile {
  margin-top: 2.5rem;
  animation: slide-in 0.7s forwards;
}
.link_wroks {
  animation: slide-in 1s forwards;
}
.link_contactme {
  margin-bottom: 2rem;
  animation: slide-in 1.5s forwards;
}

.nav_link {
  font-size: 0.8em;
  font-weight: var(--font-extra-bold);
  color: var(--full-bright-color);
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  animation: shine 2s infinite;
  letter-spacing: 0.7px;
}

/* NAVIGATION SMALL DEVICE  */
.navigator_small_device {
  position: relative;
}
.sm_nav {
  z-index: var(--z-large);
  position: relative;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 2rem;
  background-color: var(--full-bright-color);
  transition: left 0.3s ease, 0.5s;
}

.sm_nav.open {
  left: 0;
}
.navigator_small_device.scrolled .sm_nav {
  position: fixed;
  box-shadow: 0 2.5px 5px rgba(255, 255, 255, 0.854);
}

.sm_nav_button {
  position: fixed;
  z-index: var(--z-largest);
  top: 0;
  background-color: var(--full-bright-color);
  color: var(--full-dark-color);
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sm_nav {
  background: var(--full-bright-color);
  width: 100vw;
}
.sm_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 2rem;
  height: 100%;
}
.sm_nav ul li a {
  color: var(--full-dark-color);
  font-size: 0.5rem;
}
.sm_nav ul li a:hover {
  color: var(--light-dark-color);
}
@media only screen and (min-width: 260px) {
  .sm_nav ul {
    padding: 0 1rem 0 3rem;
    height: 100%;
  }
  .sm_nav ul li a {
    font-size: var(--extra-extra-smaller-font-size);
  }
}
@media only screen and (min-width: 360px) {
  .sm_nav ul li a {
    font-size: var(--normal-font-size);
  }
}
@media only screen and (min-width: 568px) {
  .sm_nav ul {
    padding: 0 5rem 0 6rem;
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .large_left,
  .large_right {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .navigator_small_device {
    display: none;
  }
}
/* ================ ABOUT MODULE ================ */
.about {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.about_grid {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.ab_grid_item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.ab_services {
  margin-bottom: 2rem;
}
.ab_heading {
  position: relative;
  text-align: center;
  font-size: var(--h2-font-size);
  margin-top: var(--mb-1);
  font-family: var(--main-haeding-font-family);
  font-weight: var(--font-medium);
  justify-self: flex-start;
}
.ab_ending_line {
  width: 100%;
  height: 1px;
  background: var(--light-dark-color);
  margin-top: var(--mb-1);
  justify-self: flex-end;
}
.ab_about_us {
  display: flex;
  flex-direction: column;
}
/* iner grid */
.ab_ab_inner_grid {
  display: grid;
  grid-template-rows: 1fr 0.4fr 0.4fr;
  grid-template-columns: 1fr;
}
/* socials */
.ab_ab_socials {
  margin: var(--mb-1) 0 0 var(--mb-2);
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  justify-self: flex-start;
  align-self: center;
}
.ab_ab_socials a {
  font-size: var(--small-font-size-font-size);
  color: var(--full-bright-color);
}
.ab_ab_socials a:hover {
  color: var(--light-dark-color);
}
/* img  */
.ab_ab_img,
image {
  grid-area: 1/1/2/2;
  justify-self: center;
  width: 60%;
  align-self: center;
  animation: bounceAnimation 4s infinite;
}
@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-25px); /* Move up slightly */
  }
  50% {
    transform: translateY(0); /* Back to original position */
  }
  75% {
    transform: translateY(-15px); /* Move up slightly again */
  }
  100% {
    transform: translateY(0); /* Back to original position */
  }
}
.ab_ab_blob_img {
  display: none;
}
/* paragraph  */
.ab_ab_para {
  margin-top: var(--mb-0-5);
  align-self: flex-start;
  grid-area: 3/1/4/2;
  text-align: start;
}
.ab_ab_para span {
  font-size: var(--small-font-size);
}
.ab_ab_para p {
  font-size: var(--extra-smaller-font-size);
}
/* experience  */
.ab_ab_exp {
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.ab_ab_exp_div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ab_ab_exp_num {
  font-weight: var(--font-medium);
  align-self: center;
  font-size: var(--extra-smaller-font-size);
}
.ab_ab_exp_name {
  font-size: var(--extra-extra-smaller-font-size);
  text-align: center;
}
.ab_ab_exp_name_name {
  font-size: var(--extra-extra-smaller-font-size);
  text-align: center;
}
/* button  */
.ab_ab_btn {
  grid-area: 1/1/2/2;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0 var(--mb-1) var(--mb-1-5) 0;
}
.ab_ab_btn button {
  font-size: var(--extra-smaller-font-size);
  padding: var(--mb-0-20);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 1.3rem;
  border: none;
  border-radius: 2px;
  background-size: 300% 10%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.ab_ab_btn button:hover {
  color: var(--full-dark-color);
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  box-shadow: -3px 0px 5px white, 3px 3px 20px white;
}

.ab_ab_btn button:focus {
  outline: none;
}
.ab_ab_btn button {
  background-image: linear-gradient(
    to right,
    rgb(144, 138, 138),
    white,
    #faf6f7,
    white
  );
  box-shadow: -3px 0px 5px rgb(255, 255, 255),
    3px 3px 7px rgba(21, 20, 20, 0.765);
}
@media screen and (min-width: 350px) {
  .about {
    display: flex;
    justify-content: center;
  }
  .ab_heading {
    margin-bottom: var(--mb-2);
  }
  .about_grid {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ab_grid_item {
    width: 80%;
  }
  .ab_ab_inner_grid {
    grid-template-columns: 2.5rem 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
  }
  .ab_ab_socials {
    grid-area: 1/1/2/2;
    margin: 0;
    height: 80%;
    align-self: flex-start;
  }
  .ab_ab_img {
    grid-area: 1/2/2/3;
    justify-self: flex-end;
    width: 35%;
  }
  .ab_ab_para {
    grid-area: 1/2/2/3;
    width: 65%;
    align-self: flex-start;
    margin-top: 0;
  }
  .ab_ab_para span {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
  }
  .ab_ab_exp {
    grid-area: 2/1/3/3;
  }
  .ab_ab_btn {
    grid-area: 3/1/4/3;
    margin: 0;
    justify-self: center;
    align-self: center;
  }
  .ab_ab_btn button {
    width: 4.5rem;
    height: 1.5rem;
  }
}
@media screen and (min-width: 450px) {
  .ab_ab_para span {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
  }
}
@media screen and (min-width: 568px) {
  .ab_ab_inner_grid {
    grid-template-columns: 2.5rem 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
  }
  /* socials  */
  .ab_ab_socials {
    grid-area: 1/1/2/2;
    margin: 0;
    height: 80%;
    align-self: flex-start;
  }
  .ab_ab_socials a {
    font-size: var(--h3-font-size);
  }
  /* img  */
  .ab_ab_img {
    grid-area: 1/2/2/3;
    justify-self: flex-end;
    width: 35%;
    align-self: flex-start;
    position: relative;
    bottom: var(--mb-1);
  }
  /* paragraph  */
  .ab_ab_para {
    grid-area: 1/2/2/3;
    width: 65%;
    align-self: flex-start;
  }
  .ab_ab_para span {
    font-size: var(--small-font-size);
  }
  .ab_ab_para p {
    font-size: var(--extra-smaller-font-size);
  }
  /* experience  */
  .ab_ab_exp {
    grid-area: 2/1/3/3;
  }
  .ab_ab_exp_num {
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
  }
  .ab_ab_exp_name {
    font-size: var(--smaller-font-size);
  }
  /* button  */
  .ab_ab_btn {
    grid-area: 3/1/4/3;
    margin: 0;
    justify-self: center;
    align-self: center;
  }
  .ab_ab_btn button {
    width: 6rem;
    height: 2rem;
  }
}
@media screen and (min-width: 650px) {
  .ab_ending_line {
    margin-top: var(--mb-4);
  }
  .about_grid {
    width: 100%;
  }
  .ab_ab_inner_grid {
    grid-template-columns: 2.5rem 1fr;
    grid-template-rows: 1fr 4rem;
  }
  .ab_ab_exp {
    width: 55%;
    grid-area: 1/2/2/3;
    justify-self: flex-start;
    align-self: flex-end;
    position: relative;
    top: var(--mb-0-75);
  }
  .ab_ab_para span {
    font-size: var(--small-font-size);
  }
  .ab_ab_para p {
    font-size: var(--small-font-size);
  }
  .ab_ab_btn {
    margin-top: var(--mb-2);
    grid-area: 2/2/3/3;
    justify-self: flex-start;
    align-self: center;
  }
  .ab_ab_btn button {
    width: 7rem;
    height: 2.5rem;
    font-size: var(--normal-font-size);
  }
  .ab_ab_img {
    display: none;
  }
  .ab_ab_blob_img {
    display: block;
    grid-area: 1/1/2/3;
    justify-self: flex-end;
    align-self: center;
  }
  .ab_ab_blob {
    width: 11rem;
    fill: rgb(148, 146, 146);
  }
  .ab_ab_blob_img {
    /* width: 11rem; */
  }
}
@media screen and (min-width: 778px) {
  .about_grid {
    width: 80%;
  }
  .ab_ab_exp {
    width: 45%;
  }
  .ab_ab_para span {
    font-size: var(--small-font-size);
  }
  .ab_ab_para {
    width: 60%;
  }
  .ab_ab_para p {
    font-size: var(--small-font-size);
  }
  .ab_ab_btn button {
    border-radius: 0.5rem;
    width: 7.5rem;
    height: 2.7rem;
  }
  .ab_ab_blob {
    width: 12rem;
    fill: rgb(148, 146, 146);
  }
}
@media screen and (min-width: 1024px) {
  .about_grid {
    width: 80%;
  }
  .ab_ab_para span {
    font-size: var(--normal-font-size);
  }
  .ab_ab_para {
    width: 60%;
  }
  .ab_ab_para p {
    font-size: var(--normal-font-size);
  }
}

/*==================== SKILLS  ====================*/
.ab_skills_arrow {
  transition: transform 0.5s ease;
}
.ab_skill_list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}
.ab_skill_list.show {
  max-height: 200px;
}

.ab_skills_grid {
  display: flex;
  flex-direction: column;
}
.ab_skill {
  display: flex;
  flex-direction: column;
  margin-top: var(--mb-2);
}
.ab_skill_one {
  margin-top: 0;
}
.ab_skills_header {
  cursor: pointer;
  display: flex;
  position: relative;
}
.ab_skills_icon {
  position: absolute;
  left: 0;
}
.ab_skills_header_info {
  margin-left: var(--mb-1-5);
}
.ab_skills_arrow {
  position: absolute;
  right: 0;
}
.ab_skills_header_info {
  display: flex;
  flex-direction: column;
}
.ab_skills_title {
  font-size: var(--extra-smaller-font-size);
}
.ab_skills_subtitle {
  font-size: var(--extra-extra-smaller-font-size);
}
.ab_skill_list {
  display: flex;
  flex-direction: column;
}
.ab_skill_data {
  margin-top: var(--mb-0-75);
  width: 100%;
}
.ab_skill_title {
  display: flex;
  justify-content: space-between;
}
.ab_skill_name {
  font-size: var(--extra-extra-smaller-font-size);
}
.ab_skill_percenteage_number {
  font-size: var(--extra-extra-smaller-font-size);
}
.ab_skill_percentage_bar,
.ab_skill_percentage {
  height: 0.2rem;
  border-radius: 0.25rem;
}
.ab_skill_percentage_bar {
  margin-top: 0.1rem;
  background-color: var(--light-dark-color);
}
.ab_skill_percentage {
  display: block;
  background-color: var(--full-bright-color);
}

/* SKILL ONE  */
.ab_skill_html {
  width: 90%;
}
.ab_skill_css {
  width: 90%;
}
.ab_skill_js {
  width: 80%;
}
.ab_skill_nextjs {
  width: 70%;
}

/* SKILL TWO  */
.ab_skill_nodejs {
  width: 60%;
}
.ab_skill_mongodb {
  width: 70%;
}
.ab_skill_mysql {
  width: 50%;
}

/* SKILL THREE  */
.ab_skill_photoshop {
  width: 99%;
}
.ab_skill_illustrator {
  width: 98%;
}
.ab_skill_pp {
  width: 90%;
}
.ab_skill_id {
  width: 70%;
}
@media screen and (min-width: 778px) {
  .ab_heading {
    font-size: var(--h1-font-size);
  }
  .ab_skill {
    margin-top: var(--mb-3);
  }
  .ab_skill_one {
    margin-top: 0;
  }
  .ab_skills_icon {
    font-size: var(--h2-font-size);
  }
  .ab_skills_header_info {
    margin-left: var(--mb-3);
  }
  .ab_skills_title {
    font-size: var(--small-font-size);
  }
  .ab_skills_subtitle {
    font-size: var(--extra-smaller-font-size);
  }
  .ab_skills_arrow {
    font-size: var(--h2-font-size);
  }
  .ab_skill_name {
    font-size: var(--extra-smaller-font-size);
  }
  .ab_skill_percenteage_number {
    font-size: var(--smaller-font-size);
  }
  .ab_skill_percentage_bar,
  .ab_skill_percentage {
    height: 0.3rem;
    border-radius: 0.25rem;
  }
  .ab_skill_percentage_bar {
    margin-top: 0.2rem;
  }
  .ab_skill_list {
    margin-top: var(--mb-0-5);
  }
}
/*==================== SERVICES  ====================*/
.services_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-largest);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.services_button {
  cursor: pointer;
  font-size: var(--extra-smaller-font-size);
  display: flex;
  align-items: center;
}
.services_button:hover {
  transform: translateX(0.25rem);
}
.services_modal_close {
  font-size: var(--h3-font-size);
  color: var(--full-dark-color);
  cursor: pointer;
}
/* ====== Active Modal =====*/
.active-modal {
  opacity: 1;
  visibility: visible;
}
.services_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--mb-0-5);
}
.services_content {
  margin-top: 0;
  position: relative;
  background-color: var(--full-bright-color);
  color: var(--full-dark-color);
  padding: 3rem 0.2rem 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  cursor: pointer;
}
.services_content:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.854);
}
.services_icon {
  display: block;
  font-size: var(--normal-font-size);
  color: var(--full-dark-color);
  margin-bottom: var(--mb-0-25);
}
.services_title {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-25);
  font-weight: 500;
}
.model_header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 0 1rem;
  align-items: center;
}
.button_icon {
  font-size: var(--normal-font-size);
  margin-top: 0.5rem;
}

.button_icon:hover {
  color: var(--light-dark-color);
}
.services__button:hover .button_icon {
  transform: translateX(0.25rem);
}

.services_modal_content {
  width: 15rem;
  height: 16rem;
  position: relative;
  background-color: var(--full-bright-color);
  padding: var(--mb-0-5);
  border-radius: 0.5rem;
  overflow: scroll;
}

.services_modal_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-5);
}

.services_modal_services {
  display: grid;
  row-gap: var(--mb-0-75);
}
.services_modal_service {
  display: flex;
  font-size: var(--small-font-size);
}
.services_modal_icon {
  position: relative;
  top: 2px;
}
.services_modal_icon {
  color: var(--full-dark-color);
  margin-right: 0.25rem;
}
@media screen and (min-width: 650px) {
  .services_grid {
    gap: var(--mb-1);
  }
  .services_modal_content {
    width: 25rem;
    height: 15rem;
  }
  .services_modal_service p {
    font-size: var(--small-font-size);
  }
  .services_icon {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-5);
  }
  .services_title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
    font-weight: 500;
  }
  .button_icon {
    font-size: var(--normal-font-size);
    margin-top: 0.5rem;
  }
}

/* CONTACT  */
.contactme_section {
  width: 100%;
  min-height: 100vh;
  color: var(--full-bright-color);
  position: relative;
  overflow: hidden;
}
.contactme {
  position: relative;
}
.cm_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.cm_info {
  display: flex;
  justify-content: center;
  grid-area: 2/1/3/2;
}
.cm_info_content {
  display: flex;
  flex-direction: column;
}
.cm_img {
  width: 40%;
  justify-self: center;
  align-self: center;
  animation: bounceAnimation 4s infinite;
}
.cm_data p {
  font-size: var(--extra-smaller-font-size);
}
/*========== FORM ==========*/
.cm_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/1/2/2;
}
.cm_form_content,
.cm_info_content {
  width: 90%;
}
@media screen and (min-width: 568px) {
  .cm_form_content,
  .cm_info_content {
    width: 60%;
  }
}
@media screen and (min-width: 778px) {
  .cm_form_content,
  .cm_info_content {
    width: 50%;
  }
}

.contact_heading {
  font-size: var(--normal-font-size);
  text-align: center;
  margin-top: var(--mb-2);
}
.form {
  position: relative;
  margin-top: var(--mb-1);
}
.group {
  position: relative;
  margin-bottom: var(--mb-1);
}

.group textarea {
  width: 100%;
  padding: 0 0.2rem 0 0.2rem;
  min-height: 10rem;
  font-size: var(--extra-smaller-font-size);
  border: none;
  color: var(--full-dark-color);
  font-family: var(--second-font-family);
}
.group textarea:focus {
  border: var(--light-dark-color);
}
.group textarea::placeholder {
  color: var(--full-dark-color);
}

.form input {
  font-family: var(--second-font-family);
  font-size: var(--normal-font-size);
  padding: 0.5rem 0 0.5rem 0.4rem;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #b1b1b1;
  color: #b1b1b1;
  background: rgba(0, 0, 0, 0);
  opacity: 0.5;
  transition: 0.2s ease;
}

.form input:focus {
  outline: none;
  opacity: 1;
}

.form label {
  padding: 0.5rem 0 0.5rem 0.4rem;
  font-family: var(--second-font-family);
  color: #b1b1b1;
  font-size: var(--normal-font-size);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  top: 0;
  opacity: 0.5;
  transition: 0.2s ease all;
}

.form input:focus ~ .label,
input:valid ~ .label {
  top: -1rem;
  font-size: var(--extra-smaller-font-size);
  color: #b1b1b1;
  opacity: 1;
}

.form .highlight {
  position: absolute;
  height: 60%;
  width: 8rem;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.form input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #b1b1b1;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.form_submit {
  font-family: "Poppins", sans-serif;
  float: right;
  width: 5rem;
  height: 2rem;
  color: #141414;
  border-radius: 5%;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  font-weight: var(--font-medium);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*========== MEASSAGE BUTTON ==========*/

.form_submit {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.form_submit:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, white 0%, gray 74%);
  transition: all 0.3s ease;
}
.form_submit:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.form_submit:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
@media screen and (min-width: 1024px) {
  .cm_container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  /* info  */
  .cm_info {
    position: relative;
    display: flex;
    width: 50%;
    transform: skew(-20deg);
    background: #949292;
    border: 1px solid #949292;
    overflow: visible;
    align-items: center;
    justify-content: flex-start;
  }
  .cm_info_cover {
    border: 1px solid #949292;
    top: 0;
    left: -100vw;
    background: #949292;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .cm_info_content {
    position: relative;
    top: 0%;
    transform: skew(20deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 7vw;
    margin-bottom: 7vh;
  }
  .cm_img {
    width: 15vw;
    animation: bounceAnimation 4s infinite;
  }
  .cm_data {
    width: 30vw;
  }
  .cm_data p {
    font-size: var(--small-font-size);
  }

  /* form  */
  .form {
    width: 30vw;
  }
  .cm_form {
    display: flex;
    width: 50%;
    transform: skew(-20deg);
    background: #141414;
    align-items: center;
    justify-content: center;
  }
  .cm_form_cover {
    bottom: 0;
    right: -100vw;
    background: #141414;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .cm_form_content {
    width: 100%;
    position: relative;
    top: 0%;
    transform: skew(20deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 4vw;
  }
  .contact_heading {
    color: var(--full-bright-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size-font-size);
    font-family: var(--second-font-family);
    text-align: center;
  }
}

/*=========================== WORK MODULE ===========================*/
/* WORKS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  outline: none;
  box-sizing: border-box;
}

:root {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg: #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
  --header-color :#121317;
}

.light-mode {
  --theme-bg-color: rgb(255 255 255 / 31%);
  --theme-color: #3c3a3a;
  --inactive-color: #333333;
  --button-inactive: #3c3a3a;
  --search-bg: rgb(255 255 255 / 31%);
  --dropdown-bg: #f7f7f7;
  --overlay-bg: rgb(255 255 255 / 30%);
  --dropdown-hover: rgb(236 236 236);
  --border-color: rgb(255 255 255 / 35%);
  --popup-bg: rgb(255 255 255);
  --hover-menu-bg: rgba(255 255 255 / 35%);
  --scrollbar-bg: rgb(255 253 253 / 57%);
  --content-title-color: --theme-color;
  --header-color :#cecece;
}

/*==================== WORK MODULE ====================*/
.background_body {
  position: relative;
  font-family: var(--body-font);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.app {
  background-color: var(--theme-bg-color);
  display: flex;
  flex-direction: column;
  /* position: relative; */
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
}

.projects_header {
  z-index: var(--z-largest);
  position: relative;
  /* position: fixed;
  top: 0; */
  /* display: flex; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  flex-shrink: 0;
  /* height: 58px; */
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  /* padding: 0 30px; */
  white-space: nowrap;
}
.projects_header.scrolled {
  position: sticky;
  top: 0;
  box-shadow: 0 2.5px 5px rgba(255, 255, 255, 0.854);
  background-color: var(--header-color);
}
.header-menu {
  grid-area: 2/1/3/2;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}
.header-menu a {
  /* padding: 20px 30px; */
  font-size: var(--extra-smaller-font-size);
  text-decoration: none;
  color: var(--inactive-color);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.header-menu a.is-active,
.header-menu a:hover {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}

.work_logo {
  /* width: 35px; */
  width: 2rem;
  /* margin-right: 195px; */
  grid-area: 1/1/2/2;
  margin: 0.7rem 0 0 0.7rem;
}
.dark-light {
  /* width: 40px; */
  width: 2.4rem;
  height: 2.4rem;
  /* height: 40px; */
  background-color: var(--dropdown-bg);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/2/2;
  justify-self: flex-end;
  margin: 0.7rem 0.7rem 0 0;
  position: relative;
  /* position: absolute;
  right: 8px;
  top: 8px; */
}
.dark-light span {
  /* font-size: 1.3rem; */
  font-size: 1rem;
  transition: 0.5s;
  color: #ebc815;
  padding-top: 4px;
}

.light-mode .dark-light span {
  color: #9c9c1f;
}

body.light-mode:before,
body.light-mode .video-bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.72) 0%,
    rgba(255, 255, 255, 0.45) 100%
  );
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
}

.main-header .header-menu {
  /* margin-left: 150px; */
}
.main-header .header-menu a {
  /* padding: 20px 24px; */
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left-side {
  display: none;
}
.left-side {
  /* border-right: 1px solid var(--border-color); */
}
.side-category-link {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.5rem 0 0.5rem;
  border: 1px solid var(--border-color);
  margin: 1rem 0.5rem 0 0.5rem;
}
.side-category-link a:hover{
  transition: .5s;
  color: var(--full-bright-color);
}
.optional-link{
  display: none;
}
.side-wrapper-two {
  margin-bottom: 1rem;
}
.side-title {
  font-size: var(--extra-smaller-font-size);
  color: var(--theme-color);
  font-weight: var(--font-semi-bold);
}
.side-icon {
  font-size: var(--normal-font-size);
  color: var(--theme-color);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  padding-top: 0.4rem;
  transition: 0.5s;
}
.side-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}

.side-menu.show {
  max-height: 200px;
  /* Set your desired maximum height */
}

.side-menu {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.side-menu a {
  text-decoration: none;
  color: var(--theme-color);
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  transition: 0.3s;
}
.side-menu a:hover {
  background-color: var(--hover-menu-bg);
}
.side-menu .icon {
  width: 16px;
  margin-right: 8px;
}
.skill_icon_folder{
  display: none;
}

.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: 58px;
  flex-shrink: 0;
}

.content-wrapper {
  color: var(--theme-color);
  background-color: var(--theme-bg-color);
}
/* WORK/PHOTOGRAPHY */
.content_boxes {
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; */
  display: flex;
  flex-direction: column;
}
.content_box {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  /* background-color: var(--content-bg); */
  /* border-radius: 14px; */
  /* border: 1px solid var(--theme-bg-color); */
  /* padding: 20px; */
  cursor: pointer;
  transition: 0.3s ease;
  /* justify-content: space-evenly; */
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto; */
  margin: 1rem 0 1rem 0;
  color: var(--theme-color);
}
/* .content_box:hover {
  transform: scale(1.02);
  background-color: var(--theme-bg-color);
} */
.content_img img {
  /* border-radius: 6px; */
  width: 100%;
  height: auto;
  object-fit: contain;
}
.content_img iframe {
  /* border-radius: 6px; */
  width: 100%;
  object-fit: contain;
}
.content_img video {
  border-radius: 6px;
  width: 100%;
  object-fit: contain;
}
.content_detail {
  font-family: var(--second-font-family);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.content_title {
  color: var(--theme-color);
  text-decoration: var(--font-medium);
  cursor: pointer;
  font-size: var(--normal-font-size);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content_title:hover {
  text-decoration: underline;
}
.content_disc {
  font-size: var(--normal-font-size);
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content_date {
  font-size: var(--normal-font-size);
}
.content_date span {
  font-weight: 300;
}
.statys_type span{
  position: relative;
  top: 2px;
}
.read_more {
  grid-area: 2/3/3/4;
  margin: 0.2rem 0 0 .5rem;
  align-self: flex-start;
  justify-self: flex-start;
}
.statys_type {
  align-items: center;
}
.statys_type span {
  margin-left: 0.2rem;
}
.content_button {
  width: 6rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--small-font-size);
  background: rgba(146, 151, 179, 0.466);
  border: none;
  outline: none;
  border-radius: 14px;
  transition: 0.5s;
  padding: .6rem;
}
.content_button a {
  text-decoration: none;
  color: var(--full-bright-color);
}
.content_button a:hover {
  color: rgb(126, 131, 158);
}
.content_button:hover {
  transform: scale(1.1);
  background-color: var(--theme-bg-color);
  color: rgb(126, 131, 158);
}

@media screen and (min-width: 350px){
  .header-menu{
    padding: 0 15vw 0 15vw;
  }
  .side-category-link{
    padding: 0 5vw 0 5vw;
  }
}
@media screen and (min-width: 568px){
  .header-menu{
    padding: 0 1.5rem 0 1.5rem;
  }
  .side-category-link{
    padding: 0 1rem 0 1rem;
  }
  .optional-link{
    display: block;
  }
  .side-wrappers{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .side-wrapper{
    width: 50%;
    margin: 1rem;
  }
  .side-category-link{
    margin: 0;
  }
  .side-menu{
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 0 1rem 0 1rem;
  }
  .read_more button a{
    font-size: var(--extra-smaller-font-size);
  }
  .content-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .content_boxes {
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: 50vw 50vw;
  }
  .content_box {
    display: flex;
    flex-direction: column;
    background-color: var(--content-bg);
    border-radius: 14px;
    border: 1px solid var(--theme-bg-color);
    color: var(--theme-color);
    margin: 1rem;
    padding: 1rem;
  }
  .content_box:hover {
    transform: scale(1.02);
    background-color: var(--theme-bg-color);
  }
  .content_title{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
  }
  .content_disc{
    font-size: var(--small-font-size);
  }
  .content_date{
    font-size: var(--extra-smaller-font-size);
  }
  .content_status{
    font-size: var(--extra-extra-smaller-font-size);
  }
  .work_logo{
    margin-left: 1.5rem;
    width: 2.5rem;
  }
  .dark-light{
    margin-right: 1.5rem;
  }
  .header-menu{
    padding: 0 10vw 0 10vw;
  }
}
@media screen and (min-width: 778px){
  .content_boxes {
    grid-template-columns: 33vw 33vw 33vw;
  }
  .header-menu{
    padding: 0 20vw 0 20vw;
  }
  .work_logo{
    width: 3rem;
    margin-left: 5rem;
  }
  .dark-light{
    margin-right: 5rem;
  }
}
@media screen and (min-width: 1024px){
  /* .categories_small{
    display: none;
  }
  .left-side{
    display: block;
  }
  .app{
    display: grid;
    grid-template-rows: 10vh 1fr;
  }
  .wrapper{
    display: grid;
    grid-template-columns: 20vw 1fr;
  }
  .projects_header{
    grid-area: 1/1/2/2;
  }
  .wrapper{
    grid-area: 2/1/3/2;
  }

  .projects_header{
    display: flex;
    justify-content: space-between;
  }
  .header-menu{
    padding: 0;
    margin: 0;
    width: 55%;
  }
  .work_logo{
    width: 3rem;
  }
  .header-menu a{
    font-size: var(--small-font-size);
  }
  .dark-light{
    width: 3rem;
    height: 3rem;
  }
  .dark-light span{
    font-size: var(--normal-font-size);
  }

  .side-wrappers{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-right: 1px solid var(--border-color);
  }
  .side-wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
  .side-category-link{
    border: none;
  }
  .side-category-link span{
    color: var(--full-bright-color);
  }
  .side-title{
    color: var(--full-bright-color);
    position: absolute;
    left: 2.5rem;
  }
  .side-icon{
    font-size: var(--small-font-size);
  }
  .skill_icon_folder{
    display: block;
  }
  .side-menu{
    border: none;
  }

  .content_boxes{
    grid-template-columns: 24vw 24vw 24vw;
  }
  .content-wrapper{
    justify-self: flex-start;
    align-self: flex-start;
    margin-right: 10vw;
  } */


/*==================== WORK MODULE ====================*/
.background_body {
  height: 100vh;
}
.categories_small{
    display: none;
  }
  .left-side{
    display: block;
  }

.app {
  background-color: var(--theme-bg-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 500;
}

.projects_header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  white-space: nowrap;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu a {
  padding: 20px 30px;
  text-decoration: none;
  color: var(--inactive-color);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
.header-menu a.is-active,
.header-menu a:hover {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}


.work_logo {
  width: 35px;
  margin-right: 195px;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
}

.left-side {
  flex-basis: 240px;
  border-right: 1px solid var(--border-color);
  overflow: auto;
  flex-shrink: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--theme-color);
  padding: 1rem 1.5rem;
  height: 100%;
  overflow: auto;
  background-color: var(--theme-bg-color);
}
/* WORK/PHOTOGRAPHY */
.content_boxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
}
.content_box {
  margin: var(--mb-0-5);
  display: grid;
  flex-direction: column;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 8rem;
}
.content_box:hover {
  transform: scale(1.02);
  background-color: var(--theme-bg-color);
}
.content_img{
  grid-area: 1/1/2/4;
}
.content_img img{
  width: 100%;
}
.content_detail{
  margin: 0;
  grid-area: 2/1/3/4;
}
.content_title{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}
.content_disc{
  font-size: var(--smaller-font-size);
}
.content_date{
  font-size: var(--extra-smaller-font-size);
}
.content_status{
  font-size: var(--extra-smaller-font-size);
}
.read_more{
  grid-area: 2/3/3/4;
  align-self: flex-end;
  justify-self: flex-start;
}

.projects_header{
  display: flex;
  justify-content: space-between;
}
.header-menu{
  padding: 0;
  margin: 0;
}
.work_logo{
  margin: 0;
  padding: 0;
  width: 3rem;
}
.header-menu a{
  font-size: var(--small-font-size);
}
.dark-light{
  align-self: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 0;
}
.dark-light span{
  font-size: var(--normal-font-size);
}
.side-wrappers{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-right: 1px solid var(--border-color);
}
.side-wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.side-category-link{
  border: none;
}
.side-category-link span{
  color: var(--theme-color);
}
.side-title{
  color: var(--theme-color);
  position: absolute;
  left: 2.5rem;
}
.side-icon{
  font-size: var(--small-font-size);
  color: var(--theme-color);
  font-weight: var(--font-semi-bold);
}
.skill_icon_folder{
  display: block;
}
.side-menu{
  border: none;
}
}

















/* SLUG PAGE  */
.slug_content_box{
  background-color: var(--theme-bg-color);
  display: flex;
  flex-direction: column;
  width: 90%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  align-self: center;
  justify-self: center;
  margin: var(--mb-2) 0 var(--mb-2) 0;
}
.slug_heading{
  margin-bottom: var(--mb-1);
}
.slug_heading h1{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}
.slug_heading span{
  font-size: var(--extra-smaller-font-size);
}
.slug_content_img{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}
.slug_content_detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.slug_creator{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--extra-smaller-font-size);
}
.slug_creator a{
  color: var(--theme-color);
  text-decoration: underline;
}
.slug_content_disc{
  margin: var(--mb-0-25) 0 var(--mb-0-25) 0;
  font-size: var(--extra-smaller-font-size);
}
.content_status{
  font-size: var(--extra-smaller-font-size);
}

@media screen and (min-width: 350px){
  .slug_content_box{
    width: 80%;
  }
}
@media screen and (min-width: 568px){
  .slug_content_box{
    width: 70%;
  }
  .slug_heading h1{
    text-align: center;
    margin-bottom: var(--mb-2);
    font-size: var(--h2-font-size);
  }
  .slug_content_detail{
    margin-top: var(--mb-1);
  }
  .slug_heading span{
    font-size: var(--small-font-size);
  }
  .slug_creator{
    font-size: var(--small-font-size);
  }
  .slug_content_disc{
    font-size: var(--small-font-size);
  }
  .content_status{
    font-size: var(--small-font-size);
  }
}
@media screen and (min-width: 778px){
  .slug_content_img{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .slug_content_box{
    width: 70%;
  }
  .slug_heading{
    margin-bottom: var(--mb-1);
  }
  .slug_heading h1{
    font-size: var(--h1-font-size);
  }
  .slug_heading span{
    font-size: var(--normal-font-size);
  }
  .slug_creator{
    font-size: var(--normal-font-size);
  }
  .slug_content_disc{
    font-size: var(--normal-font-size);
  }
  .content_status{
    font-size: var(--smaller-font-size);
  }
}
@media screen and (min-width: 1024px){
  .slug_content_box{
    padding: 1rem;
    border-radius: 5px;
  }
  .slug_heading h1{
    text-align: start;
    margin-bottom: var(--mb-0-5);
    font-size: var(--h2-font-size);
  }
}


/* ADMIN MODULE  */
.a_container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a_form{
  margin: var(--mb-3) 0 var(--mb-3) 0;
  width: 90%;
}
.desc_group{
  display: flex;
  flex-direction: column;
}
.desc_group textarea{
  background: var(--light-dark-color);
  color: var(--full-bright-color);
}
.group_dropdowns{
  display: flex;
  justify-content: space-between;
}
.admin_group select{
  width: 5rem;
  padding: .5rem;
  font-size: var(--extra-extra-smaller-font-size);
}
.admin_form_submit_button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.admin_form_submit{
  width: 8rem;
  height: 2.5rem;
  margin-top: 1rem;
}
@media screen and (min-width: 350px){
  .admin_group select{
    width: 7rem;
    padding: .5rem;
    font-size: var(--extra-smaller-font-size);
  }
}
@media screen and (min-width: 568px){
  .a_form{
    width: 70%;
  }
}
@media screen and (min-width: 778px){
  .a_form{
    width: 60%;
  }
  .admin_contact_heading{
    font-size: var(--h2-font-size);
  }
}
@media screen and (min-width: 1024px){
  .admin_form{
    width: 100%;
  }
}





/* admin view messages  */
.a_view_messages{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.aw_heading{
  font-size: var(--smaller-font-size);
}
.a_msg_boxes{
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.a_msg{
  padding: var(--mb-1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  border-radius: 7px;
}
.a_msg_boxes span{
  font-size: .8rem;
}
.a_msg{
  margin-top: 1rem;
}
@media screen and (min-width: 350px){
  .aw_heading{
    font-size: var(--h1-font-size);
  }
}
@media screen and (min-width: 568px){
  .a_msg_boxes span{
    font-size: var(--normal-font-size);
  }
}
@media screen and (min-width: 778px){
  .a_msg_boxes{
    margin-top: 1rem;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .a_msg{
    margin: 0;
  }
  .a_msg_boxes span{
    font-size: var(--small-font-size);
  }
}
@media screen and (min-width: 1024px){
  .a_msg_boxes{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .a_msg{
    margin: 0;
  }
  .a_msg_boxes span{
    font-size: var(--small-font-size);
  }
}

/* admin Login */
.admin_login_form{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* admin signout  */
.admin_signout{
  cursor: pointer;
  z-index: var(--z-largest);
  position: fixed;
  top: 1rem;
  right: 2rem;
  width: 5rem;
  height: 2.5rem;
  color: var(--full-dark-color);
}
.view_messages{
  cursor: pointer;
  z-index: var(--z-largest);
  position: fixed;
  top: 1rem;
  left: 2rem;
  width: 7rem;
  height: 2.5rem;
}
.view_messages a{
  color: var(--full-dark-color);
}
/* scroll bar  */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}